* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
a {
    text-decoration: none;
    color: #ffff;
}
html {
    font-family: "Open Sans", sans-serif;
}
#navbar {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
  padding: 0.5rem;  
}
#navbar ul li a:hover {
  background: #336ea2;  
  border-radius: 10px;
}
/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey;
}
#home img {
 width: 300px;
 height: 300px;
  border-radius: 100%;
}
#home .name h2 {
  margin-bottom: 0.75rem;
}
#home .name p {
  opacity: 0.6;
  font-style: italic;
}
#training {
  color: #ffff;
  padding: 1rem;
}
#training .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#training .items .item {
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}
#training .items .item:hover {
  color: pink;
}
#courses img {
  width: 150px;
  height: auto;
  }
/* Courses */
#courses {
  color: #333;
  padding: 1rem;
  /* display: flex; */
}
.courses {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.courses .course {
  display: flex;
padding: 0.5rem;
  margin-bottom: 0.5rem;
}
 .courses .course .course-image {
   margin-right: 0.5rem;
   position: relative;
 }
 .courses .course .course-image img {
  border-radius: 5px;
 }
 .courses .course .course-image span {
   background: red;
   padding: 0.25rem;
   color: #fff;
   border-radius: 4px;
   position: absolute;
   top: 15px;
   left: 0;
 }
 .courses .course .course-info .title {
   letter-spacing: 1.2px;
   font-weight: 700;
   margin-bottom: 0.25rem;
 }
 .courses .course .course-info .description {
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
  opacity: 0.6;
}
.courses .course .course-info .instructor {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  opacity: 0.6;
}
.courses .course .course-info .rating {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  opacity: 0.6;
}
/* Contacts */
#contact {
  color: #fff;
  padding: 1rem;
 
}
#contact .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
}
#contact .contact-form ul{
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  align-self: center;
}
#contact .contact-form ul li a {
  padding: 1rem;
  font-size: 2rem;
}
#contact .contact-form ul li a:hover {
  opacity: 0.8;
}

